#initially-showing{
  margin: 10px;
}

#initially-hidden{
  display: none;
  text-align: center;
  margin: 10px 0px 15px 0px;;
}

li{
  list-style-type: none;
}

body{
  background-color: lightblue;
}
